@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300);
body, html {
  height: 100%;
  color: black;
  font-family: 'Lato', sans-serif;
  -webkit-transition: background 20s linear;
  -moz-transition: background 20s linear;
  -ms-transition: background 20s linear;
  -o-transition: background 20s linear;
  transition: background 20s linear;
}

/* Table*/

table {
  border: .5px solid #2d3436;
  margin: 0 ;
  padding: 5px/5px;
  width: 100%;
  table-layout: fixed;
  font-family: 'Consolas', sans-serif;
  color: #FDFEFE;
}

table tr {
  background-color:#485460;
  padding: 1em;
  border: 1px solid #333;
}

table td {
  padding: 1em;
  text-align: center;
}

@media screen and (max-width: 600px){
  table {
    border: 0;
  }

  table tr {
    border-bottom: 3px solid #FDFEFE;
    display: block;
    margin-bottom: 1em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

tr:hover td {
  background:#333;
  color:#FFFFFF;
  border-top: 1px solid #7B241C;
  border-bottom: 1px solid#7B241C;
  
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#808e9b ;
}

tr:nth-child(odd):hover td {
  background:#333;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

/* button */
.btn{
	background-color:#2ECC71;
	border-radius:5px/5px;
	color:#333;
	display:inline-block;
	font-family:"Consolar", sans-serif;
	font-size:12px;
  max-width: 200px;
	text-align:center;
	height: 2em;
	text-decoration:none;
	border:none;
	cursor: pointer;
}

.btn:active {
	position:relative;
	top:1px;
}

.btn:hover{
	background-color:#27AE60;
}


/* github logo */


/* Social icon style*/

.social {
  text-align: center;
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 7px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 40px;
  margin-bottom: 5px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.linkedin {
  background-color: #0e76a8;
  color: white;
}
.social .link.github {
  background-color: #3a3a3a;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}


.noTransition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.noTransition .loopCol {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.noTransition .fixedBg {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FDFEFE;
}

h2{
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #FDFEFE ;
}

h3 {
  line-height: 1.2;
  margin-bottom: 20px;
  color: #FDFEFE;
}

h4 {
  color:#FDFEFE ;
  text-transform: uppercase;
}

#text_info {
  color: #E53935;

}

.container {
  max-width: 90%;
  z-index: 1;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.textContainer {
  position: relative;
  text-align: left;
  font-size: 80px;
  font-family: 'Consolas', sans-serif;
  color: #E53935;
  letter-spacing: -0.38vw;
  line-height: 0.98;
  min-height: 70vh; /* typing animation hight*/
}

.jstext {
  width: 100%;
  padding-top: 12vh;
  padding-right: 50px;
}
.jstext:after {
  content: "_";
  animation: blinking 1s infinite;
  -webkit-animation: blinking 1s infinite;
  -moz-animation: blinking 1s infinite;
  -o-animation: blinking 1s infinite;
  position: absolute;
  -webkit-transform: translate(10%, -10%);
  -moz-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  transform: translate(10%, -10%);
}

.text {
  color: #46200A;
}

#brName {
  display: none;
}

section {
  margin-bottom: 9vh;
}
section h4 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
section h4:after {

  position: absolute;
  -webkit-transform: translate(5%, -20%);
  -moz-transform: translate(5%, -20%);
  -ms-transform: translate(5%, -20%);
  transform: translate(5%, -20%);
}

/* -------------------------------
		 AFTER TYPING & OPENING ANIMATION
----------------------------------*/
.afterTyping {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  -moz-transition: opacity 1s, -moz-transform 1s;
  -ms-transition: opacity 1s, -ms-transform 1s;
  -o-transition: opacity 1s, -o-transform 1s;
  transition: opacity 1s, transform 1s;
  /*-webkit-transition:	opacity 1s, -webkit-transform 1s;
     -moz-transition: opacity 1s, -moz-transform 1s;
       -o-transition: opacity 1s, -o-transform 1s;
      -ms-transition: opacity 1s, -ms-transform 1s;
          transition: opacity 1s, transform 1s;*/
}

.afterTyping.onScreen {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}
.afterTyping.onScreen #about .info p {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}

#about .info p {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

.shortColumn {
  width: 62%;
}

.loopCol {
  border-bottom: 1px solid white;
  position: relative;
}
.loopCol:hover span {
  z-index: 50;
}

.coloredHover.spanActive {
  z-index: 500;
}

.coloredHover {
  -webkit-transition: color 20s linear;
  -moz-transition: color 20s linear;
  -ms-transition: color 20s linear;
  -o-transition: color 20s linear;
  transition: color 20s linear;
  position: absolute;
  left: 0;
  z-index: -1;
}

/* -------------------------------
		 Firefox fix span inside A 
----------------------------------*/
.firefoxFix .loopCol {
  display: inline-block;
}

/* -------------------------------
		 ABOUT
----------------------------------*/
.info {
  position: relative;
  font-size: 14px;
  font-size: 1.3vw;
  line-height: 1.5;
}
.info ul {
  padding: 0;
  margin: 0;
  position: relative;
  margin-top: 20px;
}
.info li {
  display: inline-block;
  margin-right: 25px;
}

/* -------------------------------
		 GET IN TOUCH 
----------------------------------*/

/* -------------------------------
		 FEATURES
----------------------------------*/
#features ul {
  margin: 0;
  padding: 0;
}

.featuresList {
  list-style-type: none;
}
.featuresList li {
  float: left;
  padding-right: 2%;
  margin-bottom: 30px;
  width: 25%;
}
.featuresList li.last {
  float: right;
  padding-right: 0;
}

.featureTitle {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: .75px;
}

.featureSubtitle {
  font-size: 13px;
  margin-top: 5px;
  letter-spacing: .75px;
}

/* -------------------------------
		CREDITS 
----------------------------------*/
.dghez {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 13px;
  letter-spacing: .75px;
  cursor: pointer;
  animation: bouncing 5s infinite;
  -webkit-animation: bouncing 5s infinite;
  -moz-animation: bouncing 5s infinite;
  -o-animation: bouncing 5s infinite;
}
.dghez:hover {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
}
.dghez:hover:after {
  /*animation: bouncing 1s 1 ;
  -webkit-animation: bouncing 1s 1 ;
  -moz-animation: bouncing 1s 1 ;
  -o-animation: bouncing 1s 1 ;*/
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.dghez:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  -webkit-transform: scale(20);
  -moz-transform: scale(20);
  -ms-transform: scale(20);
  transform: scale(20);
  top: -7px;
  left: -7px;
  background: white;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  border-radius: 50%;
}

/* -------------------------------
		 FIXED BACKGROND
----------------------------------*/
.fixedBg {
  height: 100%;
  width: 100%;
  position: fixed !important;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: background 20s linear, color 20s linear;
  -moz-transition: background 20s linear, color 20s linear;
  -ms-transition: background 20s linear, color 20s linear;
  -o-transition: background 20s linear, color 20s linear;
  transition: background 20s linear, color 20s linear;
  text-align: left;
  font-size: 10.2vw;
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.3vw;
  line-height: 0.95;
}
.fixedBg .container {
  padding-top: 11vh;
}
.fixedBg span {
  position: absolute;
}
.fixedBg span:nth-of-type(1) {
  -webkit-transform: translate3d(0, 20%, 0);
  -moz-transform: translate3d(0, 20%, 0);
  -ms-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}
.fixedBg span:nth-of-type(2) {
  -webkit-transform: translate3d(0, 40%, 0);
  -moz-transform: translate3d(0, 40%, 0);
  -ms-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
}
.fixedBg span:nth-of-type(3) {
  -webkit-transform: translate3d(0, 60%, 0);
  -moz-transform: translate3d(0, 60%, 0);
  -ms-transform: translate3d(0, 60%, 0);
  transform: translate3d(0, 60%, 0);
}
.fixedBg span:nth-of-type(4) {
  -webkit-transform: translate3d(0, 80%, 0);
  -moz-transform: translate3d(0, 80%, 0);
  -ms-transform: translate3d(0, 80%, 0);
  transform: translate3d(0, 80%, 0);
}

.spanActive {
  z-index: 500;
  position: relative;
  background: white;
}

.bgActive {
  opacity: 1;
  z-index: 10;
}
.bgActive span {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.loopCol {
  	/*&:hover + .fixedBg{
  		opacity: 1;
  		z-index: 10;
  		width: 100%;
  		span{
    			@include transform(translate3d(0,0,0) !important);
    		}
  	}*/
}
.loopCol:hover {
  background: white;
  z-index: 500;
}

[data-background="triprebel"] {
  /*background: url("img/triprebelbackground.jpg");
  background-size: cover;
  background-position: 50% 50%;*/
}

[data-background="twitter"] {
  /*background: url("img/twitterbackground.png");
  background-size: cover;*/
}

[data-background="behance"] {
  /*background: url("img/behancebackground.jpg");
  background-size: cover;*/
}

[data-background="dribbble"] {
  /*background: url("img/dribblebackground.jpg");
  background-size: cover;*/
}

/* -------------------------------
		ANIMATIONS 
----------------------------------*/
@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes bouncing {
  0%, 4%, 10%, 16%, 20% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  8% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  12% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-webkit-keyframes bouncing {
  0%, 4%, 10%, 16%, 20% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  8% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  12% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-moz-keyframes bouncing {
  0%, 4%, 10%, 16%, 20% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  8% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  12% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-o-keyframes bouncing {
  0%, 4%, 10%, 16%, 20% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  8% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  12% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

/* -------------------------------
		 MEDIA QUERIES 
----------------------------------*/
@media all and (max-width: 1024px) {
  .featuresList li {
    width: 32%;
  }

  .info {
    font-size: 2vw;
  }

  .shortColumn {
    width: 50%;
  }

  .textContainer {
    min-height: 75vh;
  }

  h3 {
    letter-spacing: -.15vmax;
  }
}
@media all and (max-width: 768px) {
  #brName {
    display: block;
  }

  .shortColumn {
    width: 75%;
  }

  .textContainer {
    min-height: 80vh;
    font-size: 11.2vw;
    letter-spacing: -.45vw;
  }

  .info {
    font-size: 2.5vw;
  }

  h3 {
    font-size: 5vw;
  }

  .email {
    font-size: 7.5vw;
  }

  .featuresList li {
    width: 50%;
  }
  .featuresList .clearfix:after {
    display: none;
  }

  .jstext {
    padding-right: 0px;
  }
}
@media all and (max-width: 468px) {
  .textContainer {
    min-height: 80vh;
    font-size: 11.4vw;
    letter-spacing: -.45vw;
  }

  .featuresList li, .shortColumn {
    width: 100%;
  }

  section h4:after {
    width: 140px;
    overflow: hidden;
  }

  .info {
    font-size: 16px;
  }

  h3 {
    font-size: 7.5vw;
  }

  .jstext {
    padding-right: 0px;
  }
}